.skeleton_subtitle {
  width: 13rem;
  height: 1.4rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  color: transparent;
}

@media screen and (max-width: 570px) {
  .skeleton_subtitle {
    width: 6rem;
    height: 1.3rem;
  }
}

@media screen and (max-width: 442px) {
  .skeleton_subtitle {
    width: 13rem;
  }
}
