.place {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem 1.0625rem;
  color: #000;
}

@media screen and (max-width: 722px) {
  .place {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 442px) {
  .place {
    grid-template-columns: 1fr;
  }
}
