.login {
  text-align: center;
  margin: 3.75rem 1.1875rem 5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 11.625rem;
}

.form__item {
  display: grid;
  padding: 0;
  margin: 0;
  border: none;
  gap: 1.875rem;
  width: 22.375rem;
}

.form__title {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 3.125rem;
}

.form__input {
  border: none;
  padding: 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  line-height: 27px;
  margin-bottom: 1.875rem;
  color: #fff;
}

.form__input::placeholder {
  color: #ccc;
}

.form__button {
  line-height: 3.125rem;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 2px;
}

.login__container {
  display: grid;
  row-gap: 1rem;
}

.login__form {
}

.login__footer {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 420px) {
  .form__item {
    width: 100%;
  }
}
