@import url("./vendor/normalize.css");
@import url("./fonts/inter.css");

/* BLOCKS */

@import url("./blocks/page/page.css");

@import url("./blocks/img/img.css");

@import url("./blocks/header/header.css");
@import url("./blocks/hrz-ruler/hrz-ruler.css");

@import url("./blocks/auth/auth.css");
@import url("./blocks/form/form.css");

@import url("./blocks/main/main.css");
@import url("./blocks/profile/profile.css");
@import url("./blocks/skeleton/skeleton.css");
@import url("./blocks/list-container/list-container.css");
@import url("./blocks/places/places.css");
@import url("./blocks/place/place.css");

@import url("./blocks/button/button.css");

@import url("./blocks/footer/footer.css");

@import url("./blocks/popup/popup.css");

@import url("./blocks/loading/loading.css");

/* ELEMENTS */

@import url("./blocks/page/__container/page__container.css");

@import url("./blocks/header/__fig/header__fig.css");

@import url("./blocks/form/__item/form__item.css");
@import url("./blocks/form/__title/form__title.css");
@import url("./blocks/form/__input/form__input.css");
@import url("./blocks/form/__button/form__button.css");

@import url("./blocks/auth/__container/auth__container.css");
@import url("./blocks/auth/__footer/auth__footer.css");

@import url("./blocks/profile/__item/profile__item.css");
@import url("./blocks/profile/__fig/profile__fig.css");
@import url("./blocks/profile/__description/profile__description.css");
@import url("./blocks/profile/__title/profile__title.css");
@import url("./blocks/profile/__subtitle/profile__subtitle.css");

@import url("./blocks/place/__card/place__card.css");
@import url("./blocks/place/__fig/place__fig.css");
@import url("./blocks/place/__btn-container/place__btn-container.css");
@import url("./blocks/place/__content/place__content.css");
@import url("./blocks/place/__name/place__name.css");

@import url("./blocks/button/__like/button__like.css");
@import url("./blocks/button/__count/button__count.css");

@import url("./blocks/footer/__content/footer__content.css");

@import url("./blocks/popup/__container/popup__conteiner.css");
@import url("./blocks/popup/__form/popup__form.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__input-container/popup__input-container.css");
@import url("./blocks/popup/__input/popup__input.css");
@import url("./blocks/popup/__fig-container/popup__fig-container.css");
@import url("./blocks/popup/__figcaption/popup__figcaption.css");
@import url("./blocks/popup/__img/popup__img.css");
@import url("./blocks/popup/__photo-container/popup__photo-container.css");
@import url("./blocks/popup/__spinner/popup__spinner.css");

/* MODIFIERS */

@import url("./blocks/button/_hidde/button_hidde.css");

@import url("./blocks/skeleton/_title/skeleton_title.css");
@import url("./blocks/skeleton/_subtitle/skeleton_subtitle.css");
@import url("./blocks/skeleton/_avatar/skeleton_avatar.css");

@import url("./blocks/place/__loading/place__loading.css");

@import url("./blocks/img/_avatar/img_avatar.css");
@import url("./blocks/img/_card/img_card.css");
@import url("./blocks/img/_hide/img_hide.css");

@import url("./blocks/button/_edit/button_edit.css");
@import url("./blocks/button/_add/button_add.css");
@import url("./blocks/button/_trash/button_trash.css");
@import url("./blocks/button/_trash/button_trash_visible.css");
@import url("./blocks/button/__like/_active/button__like_active.css");
@import url("./blocks/button/_close/button_close.css");
@import url("./blocks/button/_close/_photo/button_close_photo.css");
@import url("./blocks/button/_save/button_save.css");
@import url("./blocks/button/_disabled/button_disabled.css");
@import url("./blocks/button/_spinner/button_spinner.css");

@import url("./blocks/popup/__container/_loading/popup__container_loading.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__error/popup__error_visible.css");
@import url("./blocks/input-error/input-error.css");

@import url("./blocks/navbar/navbar.css");
